                <!-- Language Selector -->
                <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
                    <option value="0" selected> English | 英文 </option>
                    <option value="1"> Chinese | 华语 | 中文 </option>
                    <option value="2"> Cantonese | 粵語 </option>
                    <option value="3"> 日本語 | Japanese | 日语 </option>
                    <option value="4"> Deutsch | German | 德文 </option>
                </select>

